{% extends 'base.html' %}

{% block head %}
<title>Bazar.com</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Bazar.com: A Multi-tier Online Book Store</h1>
    <h2 style="text-align: center;">Available Books</h2>
    {% if books|length < 1 %}
    <h4 style="text-align: center;">No books available in the catalog.</h4>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Topic</th>
                <th scope="col">Stock</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.topic }}</td>
                <td>{{ book.stock }}</td>
                <td>${{ book.cost }}</td>
                <td>
                    <a href="/info/{{ book.id }}">Info</a>
                    <br>
                    <a href="/purchase/{{ book.id }}">Purchase</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h2 style="text-align: center;">Search Books</h2>
    <form action="/search" method="GET" class="form" style="text-align: center;">
        <label for="topic">Enter topic:</label>
        <input type="text" id="topic" name="topic">
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}
